%h1= @resource.name

#video-category-description
  = @resource.description(:html)


#video-category-videos
  = render_collection(@resource.videos.published, Ecm::Videos::Video, as: :bootstrap_media_object) do |list|
    = list.media_object(title_method: :name, body: list.resource.description(:html), image_url: list.resource.clip.url(:default_thumb))

.well.page-actions
  = link_to(t('.back'), collection_path, class: 'btn btn-default')