%h1= @resource.name

#video-category-description
  = @resource.description(:html)


#video-category-videos
  = render_collection(@resource.videos.published, Ecm::Videos::Video, as: :bootstrap_media_object) do |list|
    = list.media_object(title_method: :name, body: list.resource.description(:html), image_url: list.resource.clip.url(:default_thumb), link_to_more_url: url_for(list.resource), media_body_content_html_options: { class: 'media-body-content.bottom-margin-1 truncate lines-3' })

.well.page-actions
  = link_to(t('.back'), collection_path, class: 'btn btn-default')